<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--                              
		<add key="TestDBConnectionString" value="User Id=system;Password=oracle;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XEPDB1)));"/>
		-->
		<add key="TestDBConnectionString" value="Data Source=&quot;(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)))&quot;;User Id=system;Password=oracle;"/>
	</appSettings>
</configuration>

